absl-py==0.15.0
astor==0.8.1
backports.weakref==1.0.post1
certifi==2021.10.8
chardet==4.0.0
click==7.1.2
enum34==1.1.10
Flask==1.1.4
funcsigs==1.0.2
futures==3.3.0
gast==0.5.2
grpcio==1.41.0
h5py==2.10.0
idna==2.10
instamojo-wrapper==1.2.0
itsdangerous==1.1.0
Jinja2==2.11.3
Keras==1.0.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
Markdown==2.6.7
MarkupSafe==1.1.1
mercurial==3.7.3
mock==3.0.5
numpy==1.16.6
protobuf==3.17.3
python-dotenv==0.18.0
pytz==2025.1
PyYAML==5.4.1
requests==2.27.1
scipy==0.16.0
six==1.16.0
tensorboard==1.12.2
tensorflow==1.12.3
termcolor==1.1.0
Theano==1.0.5
typing==3.10.0.0
urllib3==1.26.20
Werkzeug==1.0.1
